.slide-container {
  width: 100%;
  max-width: 1000px;
  padding: 2rem;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;

}

.slide-grid {
  display: grid;
  gap: 5rem;
}

.image-container {
  position: relative;
  width: 100%;
  height: 24rem;
  perspective: 1000px;
}

.slide-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
  
.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f1f1ba;
  margin-bottom: 0.25rem;
}

.designation {
  font-size: 0.875rem;
  color: #878878;
  margin-bottom: 2rem;
}

.quote {
  font-size: 1.125rem;
  color: #fffae2;
  line-height: 1.75;
}

.arrow-buttons {
  display: flex;
  gap: 1rem;
  padding-top: 3rem;
}

.arrow-button {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background-color: #141414;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.arrow-button:hover {
  background-color: #afa464;
}

.arrow-button svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: #f1f1f7;
  transition: transform 0.3s;
}

.arrow-button:hover svg {
  fill: #ffffff;
}

.prev-button:hover svg {
  transform: rotate(-12deg);
}

.next-button:hover svg {
  transform: rotate(12deg);
}

@media (min-width: 768px) and (max-width: 924px) {

  .image-container{
      height:350px;
  }
}

@media (min-width: 765px) {
  .slide-grid {
    grid-template-columns: 1fr 1fr;
  }

  .arrow-buttons {
    padding-top: 0;
  }
}

@media (max-width: 764px) and (min-width: 663px) {

  .slide-grid {
    grid-template-columns: 1fr 1fr;
  }

  .image-container{
    margin-top: 7px;
    height:85%;
    width:110%;
  }
}

@media (max-width: 664px) and (min-width: 420px) {

  .slide-grid {
    grid-template-columns: 1fr;
    gap: 0.3rem;
  }
  .section-content{
    padding-right: 20px;
  }
  .slide-container {
    width:95%;
  }
  
  .image-container {
    height: 16rem;
    margin-top: 17px;
    margin-bottom:-30px;

  }

  .slide-content{
    width:450px !important;
  }

  .slide-image{
    height:80%;
    width: 60%;
  }

  .name {
    font-size: 1.25rem;
    color:white;
  }

  .designation {
    margin-bottom: 0rem;
  }

  .quote {
    font-size: 1rem;
  }
  
  .arrow-buttons {
    justify-content: center;
    padding-top: 0rem;
  }
}

@media (max-width: 570px) {

  .slide-content{
    width:350px !important;

  }

  .slide-grid {
    align-items: center;
  }
}

@media (max-width: 493px) and (min-width: 420px) {

  .slide-content{
    width:300px !important;

  }
}

@media (max-width: 420px) {

  .desc-second{
    margin-bottom:0px;
  }

  .section-etkinlik{
    margin-top: 0px;
    margin-bottom: 1px;
  }

  .name{
    font-size: 130%;
  }

  .slide-container{
    padding-left: 3%;
  }

  .slide-image{
    width:260px;
    height:160px;
    margin-top: 35px;
  }

  .image-container{
    height: 120px;
  }
  .designation {
    margin-bottom: 0rem;
    justify-content: center;
  }

  .quote{
    width: 90% !important;
  }

  .slide-content{
    width: 85%;
  }

  .slide-container{
    height:auto;
  }
  .arrow-buttons{
    padding-top: 0.3rem;
    justify-content: center;
  }
}

@media (max-width: 350px) {
  
  .slide-image{
    width:230px;
    height:140px;
    margin-top: 6px;
  }
  .name{
    margin-top: 3px;
  }
  .quote{
    width: 80% !important;
  }
  .arrow-buttons{
    justify-content: left !important;
    margin-left: 25px;
  }
}

.button {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 30px;
}

.button button {
  margin-bottom: 5px !important;
  width: 40px;
  height: 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid #0000007c;
  color: #000000c2;
  background-color: #ffffffc5;
  transition: 0.3s;
}

.button button:hover {
  background: #abababa1;
  color: #ffffffb6;
}

@media screen and (max-width: 768px) {
  .button button {
    width: 30px;
    height: 25px;
    font-size: 10px;
  }
}

.Maincontainer-slider{
  position: relative;
  top: 160px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 850px;
  height: 420px;
  background: #f5f5f5;
  box-shadow: 1px 1px 2px #fdff7ab7;
  border-radius: 20px;
}

.section-Pulsar{
  margin-top: 30px;
}

.fotoPulsar{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: transform 0.5s ease-in-out;
}

.mainbtn{
  margin-bottom: 5px !important;
  width: 40px;
  height: 35px;
  border-radius: 8px;
  border: none !important;
  cursor: pointer;
  margin: 0 5px;
  color:#ffffff !important;
  background-color:#ffffff00 !important;
  transition: 0.3s;
}

.mainbtn:hover{
  background: #ababab46 !important;
  color: #ffffff !important;
} 