body {
    flex-grow: 1;
    background-color: #000000ef;
    font-family: 'Exo', sans-serif;
}

.container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index:40;
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.image-container img {
    max-height: 541px;
    max-width: 464px;
    height: auto;

    border-radius: 8px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.toggle-btn {
    position: absolute;
    right: -60px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 250px;
    background: rgba(255, 255, 255, 0.041);
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-btn:hover {
    background: rgba(255, 255, 255, 0.116);
}

.gallery-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 0.4s ease-in-out;
    overflow-y: auto;
    padding: 20px;
}


.gallery-overlay.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    max-width: 80%;
    max-height: 80vh;
    overflow-y: auto;
    padding: 15px;
}

.gallery a {
    width: 200px;
    text-decoration: none;
    text-align: center;
}

.galleryItem {
    width: 100%;
    height: 180px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.galleryItem:hover {
    transform: scale(1.05);
}

.close-btn {
    position: fixed;
    top: 150px;
    right: 50px;
    width: 40px;
    height: 40px;
    z-index:5;
    background: rgba(255, 255, 255, 0);
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.close-btn:hover {
    background: rgba(255, 255, 255, 0.048);
}

.activityDes {
    width: 85%;
    margin: 0 auto;
    justify-content: center !important;
    font-size: 1.1rem;
    color: white;
}


@media (max-width: 1200px) {
    .image-container img {
        width: 450px; 
        height: auto;
    }

    .gallery{
        margin-top: 150px;
    }
}


@media (max-width: 992px) {
    .image-container img {
        width: 400px; 
        height: auto;
    }

    .close-btn{
        right: 25px;
    }
    .gallery{
        margin-top: 300px;
    }
}

@media (max-width: 768px) {
    .image-container img {
        width: 300px; 
        height: auto;
    }

    .gallery a {
        width: 160px;
    }

    .galleryItem {
        height: 140px;
    }
    .gallery {
        gap: 30px !important;
    }
}

@media (max-width: 480px) {
    .image-container img {
        width: 250px;
        height: auto;
    }

    .close-btn{
        right: 25px;
    }

    .gallery {
        gap: 35px !important;
    }
}

@media (max-width: 382px) {
    * {
        box-sizing: content-box !important;
    }
    *, ::after, ::before {
        box-sizing: content-box !important;
    }

    .gallery-overlay {
        padding:25px;
    }

    .close-btn{
        right: 60px;
    }
}

@media (max-width: 321px) {
    .gallery-overlay {
        padding:45px;
    }
}