.container-announcement {
  width: 90%;
  margin: auto;
  position: relative;
}

#news-slider {
  height: 180px;
  margin-top: 3rem;
}

.infoSection {
  min-height: auto !important;
  height: auto !important;
  overflow: hidden;
}

.post-slide {
  position: relative;
  width: 220px;
  height: 140px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
  transition: transform 0.4s ease-in-out;
}

.post-slide:hover {
  transform: scale(1.1);
}

.post-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.post-content {
  position: relative;
  z-index: 2;
}

.post-title a {
  text-decoration: none;
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.post-description {
  font-size: 12px;
}

.post-date {
  display: block;
  font-size: 12px;
  color: #ddd;
  margin: 2px 0;
}

.read-more {
  display: inline-block;
  padding: 3px 10px;
  background: #f5ff6323;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 12px;
  margin-top: 0px;
  transition: 0.3s;
}

.read-more:hover {
  background: #f5ff6369;
}

.custom-prev, .custom-next {
  position: absolute;
  top: 70px;
  transform: translateY(-50%);
  color: white;
  font-size: 24px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1000;
}

.custom-prev {
  left: -45px;
}

.custom-next {
  right: -45px;
}

.custom-prev:hover, .custom-next:hover {
  color: rgba(175, 175, 175, 0.705);
}


@media (max-width: 500px) {
  #news-slider {
      height: 160px;
      margin-top: 1rem;
      margin-left: 0px;
  }

  .post-slide {
      width: 143px;
      height: 100px;
      padding: 10px;
  }

  .infoSecMedia{
    margin-left: 20px;
  }

  .post-title a {
      font-size: 14px;
  }

  .post-description {
      font-size: 10px;
  }

  .post-date {
      font-size: 10px;
  }

  .read-more {
      font-size: 10px;
      padding: 4px 8px;
  }

  .custom-prev, .custom-next {
      font-size: 20px;
      width: 30px;
      height: 30px;
      top: 45px;
  }

  .custom-prev {
      left: -27px;
  }

  .owl-carousel {
    margin-left: -10px;
  }

  .custom-next {
      right: -10px;
  }
}